@import "../../../style/colors";

.aside-board {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__pass-button {
    font-size: 2rem;
    text-transform: uppercase;
    background-color: $base-white;
    border-radius: 5px;
    border: 1px solid $base-black;

    &:hover {
      cursor: pointer;
      background-color: $base-black;
      color: $base-white;
    }
  }
}
