@import "../../../style/colors";

.chip {
  width: 98px;
  height: 98px;
  border: 1px solid $base-black;
  border-radius: 50%;
}

.black-chip {
  background-color: $base-black;
}

.white-chip {
  background-color: $base-white;
}

.empty-chip {
  border: none;
}

.available-chip {
  width: 20px;
  height: 20px;
  background-color: $available-chip;
  margin: auto;
  margin-top: 39px;
}
